/* =======================
   Navbar
======================= */
.navbar {
    background-color: #333;
    overflow: hidden;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 14px 20px;
  }
  
  .navbar a:hover {
    background-color: #575757;
  }
  
  /* Sous-menu */
  .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    min-width: 150px;
    flex-direction: column;
  }
  
  .submenu li {
    width: 100%;
  }
  
  .submenu a {
    padding: 10px;
  }
  
  .dropdown:hover .submenu {
    display: flex;
    flex-direction: column;
  }
  
  /* =======================
     Contenu
  ======================= */
  .content-section {
    display: none;
    padding: 20px;
  }
  
  /* Afficher la section ciblée */
  .content-section:target {
    display: block;
  }
  
  /* Afficher Accueil par défaut si aucune section ciblée */
  body:not(:target) #accueil {
    display: block;
  }
  